<div class="container__menu-bar">
    <div class="menu-options">
        <h1>Renan</h1>
    </div>
    <div class="menu-card__links">
        <ul>
            <li><a href="www.linkedin.com/in/renan-santana6225">Linkedin</a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/renanrv4">Github</a></li>
            <li><span>•</span></li>
            <li><a href="https://www.instagram.com/renansantanarv/">Instagram</a></li>
        </ul>
    </div>
    <div class="menu-separator">
        <hr/>
    </div>
    <div class="menu-title">
        <h1>Life.log</h1>
    </div>
</div>
