.container__secondary-card {
    width: 600px;;
    margin-top: 15px;
    background-color: rgb(205, 201, 201);
    box-shadow: 3px 3px 3px black;
}

.secondary-card__content {
    display: flex;
    flex-direction: row;
}

.secondary-card__image > img {
    width: 200px;
    height: 100%;
    min-width: 200px;
    margin-right: 30px;
}

.secondary-card__title {
    display: flex;
   justify-content: center;
   align-items: center; 
}